body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(250, 235, 215);
}
#baslik{
    color: rgb(123, 0, 123);
    background-color: gray;
    text-align: center;
}
#sez{
    background-color: rgb(210, 182, 144);
    border: 4px;
    border-style: double;
}
#htarih{
    color: rgb(159, 0, 0);
}
#p1{
    margin-left: 40px;
}
#fotovideo{
    border: 4px;
    border-style: solid;
    border-color: purple;
    width: 600px;
}