@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Kanit-Regular;
    src: url(fonts/Kanit-Regular.ttf);
}

body{
    background-color: rgb(250, 235, 215);
}
#baslik{
    font-family: Kanit-Regular, Poppins-Regular;
    color: rgb(123, 0, 123);
    background-color: gray;
    text-align: center;
}
#sez{
    margin-left: 5px;
    font-family: Roboto-Regular, Poppins-Regular;
    background-color: rgb(210, 182, 144);
    border: 4px;
    border-style: double;
}
.icerik{
    margin-left: 20px;
    font-family: "Lucida Sans Unicode", OpenSans-Regular, Poppins-Regular;
}
#htarih{
    color: rgb(159, 0, 0);
}
#p1{
    margin-left: 40px;
}
#fotovideo{
    border: 4px;
    border-style: solid;
    border-color: purple;
    width: 600px;
}
