@font-face {
    font-family: Roboto-Regular;
    src: url(/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Kanit-Regular;
    src: url(/fonts/Kanit-Regular.ttf);
}
*{
    box-sizing: border-box;
}
body{
    background-color: rgb(250, 235, 215);
    margin: 0;
}
#baslik{
    font-family: Kanit-Regular, Poppins-Regular;
    color: rgb(123, 0, 123);
    background-color: gray;  
    text-align: center;
    padding: 10px;
    font-size: 38px;
}
.sez{
    margin-left: 5px;
    font-family: Roboto-Regular, Poppins-Regular;
    background-color: rgb(210, 182, 144);
    border: 4px;
    border-style: double;
}
.icerik{
    margin-left: 20px;
    font-family: "Lucida Sans Unicode", OpenSans-Regular, Poppins-Regular;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden; /* Hide any content that exceeds the container's dimensions */
}
.ani{
    width: 30%;
    min-width: 600px;
    align-items: center;
    border: 3px solid;
    padding: 5px;
    margin: 3px;
    flex-shrink: 0;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    overflow: hidden; /* Hide any content that exceeds the box's dimensions */
    height: auto; /* Remove the fixed height */
}
.ani img{
    max-width: 100%; /* Set maximum width to prevent image overflow */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Set maximum width to prevent image overflow */
    max-height: 100%; /* Set maximum height to fit the box */
}
h2 span{
    color: rgb(159, 0, 0);
}
.aniAciklama{
    margin-left: 40px;
    max-width: 600px;
    margin-top: 10px;
}
#fotovideo{
    border: 4px;
    border-style: solid;
    border-color: purple;
    width: 580px;
    display: inline-block;
}
@media (max-width: 600px) {
    .ani {
      width: 100%; /* Set width to 100% on smaller screens */
      min-width: 0; /* Reset min-width */
    }
  }
